nav {
    position: absolute;
    right: 170px;
  }
   
  li {
    display: inline;
    padding: 20px 20px;
    color: white; 
  }
  
  
  a {
    color: inherit  
  }
  
  .navalign {
    display: flex;
    justify-content: right; 
}

.upRightButton {
    position: absolute;
    height: 20px;
    width: 100px;
    border:solid 1px white;
    right: -130px;
}

.upRightButton {
    bottom: 15px;
}

#Kast{
    position: absolute;
    color: White;
    font-family: 'Oswald', sans-serif;
    right: -108px;
}

#Kast{
    bottom: -6px;
}

  
  body{
    background-image: linear-gradient(to right, purple, blue);
  } 
  
  .intro {
    position: relative;
    color: White;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 1em auto;
    top: -270px;
  }
  
  .paragraph1 {
    position: relative;
    color: White;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 1em auto;
    top: -275px;
  }
  .orangebutton {  
        position: relative; 
        width: 200px;
        height: 42px;
        background: #ffa333;
        border-radius: 3px;
        margin: 1em auto;
        top: -275px;
      }
  
  .orangeOpenKast {
    position: relative;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 1em auto;
    top: -333px;
    
  }

  .featuredIn {
    position: relative;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 1em auto;
    top: -750px;

  }
  

  .kastLogo {
    position: relative;
    top: -120px; 
    left: 10px;
  }


.laptop {
    position: relative;
    text-align: center;
    margin: 1em auto;
    top: -250px;      
}

div.image-rows{
    width: 200px;
    height: 100px;
    margin: 1em auto;
    margin-top: -800px;
    margin-left: 855px;
    position: relative;
}

.row-of-images{
    display: flex;
    justify-content: center;
    margin: -5em auto;  
    position: relative; 
}


#wired{
    padding: 0 100px 0 0;
}

#nerdist{
    padding: 0 100px 0 0;
}

#yahoo{
    padding: 0 100px 0 0;
}

#evening{
    padding: 0 100px 0 0;
}

#bbc{
    padding: 0 100px 0 0;
    
}

#daily{
    padding: 0 100px 0 0;
}

.bottomsection {
    position: relative;
    background-color: white;
    height: 500px;
    text-align: center;
    bottom: 275px;
  }

 
    
  
  
  
  
  
  